body {
        color: white;
        background-color: black;
        font-family: 'Sacramento', cursive;
        font-size: 150%;
        margin: 5em 25%;
     }
#firstmessage {
background-color: yellowgreen;
}
#secondmessage {
    background-color: yellow;
}
#thirdmessage {
    background-color: orange
}
#fourthmessage {
    background-color: violet;
}
#fifthmessage {
    background-color: turquoise;
}